#root {
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  gap: 2rem;
  text-align: left;
  margin-bottom: 1rem;
}

.editor, .output {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cm-editor {
  text-align: left;
}

button {
  margin-top: 1rem;
}
